/* media queries*/
@mixin for-phone-only {
    @media (max-width: 599px){
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px){
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px){
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px){
        @content;
    }
}

/*global variables */
:root {
    --icon-color: #00bdd7;
    --text-color: #4b4b4b;
    --btn-color: white;
    --btn-background-color: #13bed3;
    --form-header-color: #b0d3d7;
    --link-color: #b0d3d7;
    --error-color: #cc0000;
}

//Roboto, regular - 100, 300, 400, 500, 700, 900
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 18px;
}

body, html {
    margin: 0;
    min-height: 100%;
}

body {
    position: relative;
    min-height: 75vh;
    padding-bottom: 20vh;
}

input[type="text"], input[type="password"] {
    border: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid var(--text-color);
}

.container {
    width: 1100px;
    overflow: hidden;
    margin: auto;
}

.checkbox  {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 2px solid var(--text-color);
}

.btn {
    border: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    color: var(--btn-color);
    font-weight: 500;
    padding: 5px 20px 7px 20px;
    border-radius: 10%/25%;
    background-color: var(--btn-background-color);
}

.btn--secondary {
    background-color: transparent;
    color: var(--text-color);
}

.logo {
    float: left;
}

.logout-btn {
    float: right;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
}

.logout-btn:hover {
    background-color:var(--text-color);
    color:white;
}

.link {
    color: var(--link-color);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    text-align: center;
}

/* media quiries mixins*/
@include for-phone-only {
    .container {
        width: 90%;
    }
    html {
        font-size: 15px;
        line-height: 1.5rem;
    }
    .logout-btn {
        margin-top: 20px;
    }
}
@include for-tablet-portrait-up {
    .container {
        width: 550px;
    }
    .logout-btn {
        margin-top: 40px;
    }
}
@include for-tablet-landscape-up {
    .container {
        width: 850px;
    }
}
@include for-desktop-up {
    .container {
        width: 1100px;
    }
}