
/* media queries*/
@mixin for-phone-only {
    @media (max-width: 599px){
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px){
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px){
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px){
        @content;
    }
}


.sign-up-form {
    width: 500px;
    margin: auto;
    margin-top: 150px;
    &__header {
        border-bottom: 2px solid var(--form-header-color);
    }
    &__form-label {
        color: var(--form-header-color);
        margin: 18px 22px 18px 22px;
    }
    &__app-label {
        margin: 0;
        margin-right: 18px;
        float: right;
    }
    &__content {
        display: grid;
        grid-template-rows: auto;
        column-gap: 5px;
        grid-row-gap: 20px;
        padding-top: 50px;
    }
    &__username-label {
        grid-area: username-label;
    }
    &__username-input {
        grid-area: username-input;
    }
    &__password-label {
        grid-area: password-label;
    }
    &__password-input {
        grid-area: password-input;
    }
    &__repeat-password-label {
        grid-area: repeat-password-label;
    }
    &__repeat-password-input {
        grid-area: repeat-password-input;
    }
    &__sign-up {
        display: flex;
        align-items: center;
        grid-area: sign-up;
    }
    &__submit-input {
        margin-right: 30px;
        cursor: pointer;
    }
    &__checkbox-input {
        vertical-align: center;
        margin-right: 15px;
    }
    &__sign-in-link {
       font-size: 0.9rem; 
       margin-left: auto;
    }
    &__forgot-password-link {
       font-size: 0.9rem; 
    }
    &__icon {
        color: var(--icon-color);
        margin-right: 21px;
    }

    /*media quries mixins*/
    @include for-phone-only {
        width: 90%;
        &__content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "username-label"
            "username-input"
            "password-label"
            "password-input"
            "repeat-password-label"
            "repeat-password-input"
            "sign-up"
            ;
            column-gap: 5px;
            grid-row-gap: 20px;
        } 
        &__submit-input {
            margin-right: 20px;
        }
        &__sign-in-link {
           margin-right: 30px;
        }
    }
    @include for-tablet-portrait-up {
        width: 400px;
        &__content {
            padding-top: 50px;
            grid-template-columns: 180px 200px;
            grid-template-areas: 
            "username-label username-input"
            "password-label password-input"
            "repeat-password-label repeat-password-input"
            ". sign-up"
            ;
            column-gap: 10px;
            grid-row-gap: 20px;
        }
        &__submit-input {
            margin-right: 10px;
        }
        &__checkbox-input {
            margin-right: 0px;
        }
        &__sign-in-link {
           margin-right: 20px;
        }
    }
    @include for-tablet-landscape-up {
        width: 500px;
        &__content {
            grid-template-columns: 200px 300px;
        }
        &__submit-input {
            margin-right: 30px;
        }
        &__checkbox-input {
            margin-right: 15px;
        }
        &__sign-in-link {
           margin-right: 90px;
        }
    }
}
